aside{
    grid-area: aside;
    background-color: rgb(219, 213, 213);
}
body{
    display: grid;
    grid-template-areas: 'nav'
                         'banner'
                         'section'
                         'main'
                         'aside'
                         'footer';
    grid-template-columns: 100vw;       
    margin: 0;              
    grid-template-rows: 1vh 65vh 40vh 50vh 40vh 60px;
    
}
footer{
    
    grid-area: footer;
    display: flex;
}
header{
    background-image: url(../images/banner.png);
    background-size: cover;
    color: white;
    grid-area: banner;
    margin: 0; 
    display: grid;
    grid-template-areas: 'ladoesquerdo ladodireito';
    grid-template-columns: 50% 50%;

}

header div:nth-child(1){
    align-items: center;
    grid-area: ladoesquerdo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 45%; */
}

.mao{
    display: flex;
    align-items: flex-end;
    grid-area: ladodireito;
    grid-template-areas: initial;
    
}

header div img{
    display: flex;
    width: 260px;

}

header h1{
    /* display: flex; */
    font-family: 'Pacifico', cursive;
    font-size: 25pt;
    font-weight: normal;
    /* justify-content: center; */
    text-decoration: none;
    margin: 0;
     
}

header p{
    /* display: flex; */
    /* justify-content: center; */
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    margin-left: 10px;
    /* line-height: 3px; */

    
}
.icones div{
    width: 50vh;
}
.icones div img{
    width: 40px;
    height: 40px;  
}
nav{
    background-color: #099443;
    
}
main{
    background-color: rgb(219, 213, 213);
    
}
section{
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: section;
    width: 100%;
    flex-wrap: wrap;

}
section div{
    width: 75%;
}

section img{
        border-radius: 100px;
        background-color: #89c179;
        border-color: #89c179;
        border-style: solid;
        border-bottom-width: 10px;
        border-top-width: 10px;
        border-right-width: 10px;
        border-left-width: 10px;

    }
    section .icones{
        display: flex;
        justify-content: center;
        text-align: center;
        image-orientation: from-image;
        margin-top: 50px;  
        
 }
 section h3{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-decoration: none;
 }
section p{
    color: gray;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    text-decoration: none;
}

.ios{
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ios:hover{
    background-color: green;
}

.ios img{
    height: 25px;
    width: 25px;
}

div .android{
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    width: 30px;
    height: 30px;
 
}

.android img{
    height: 30px;
    width: 30px;
}
.windows img{
    height: 30px;
    width: 30px;

}
div .negocios{
    display: flex;
    margin: 0 5px;
}

div.ios{
    display: flex;
    margin: 0 5px;
}
main{
    grid-area: main;
}
main h4{
    align-items: center;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    justify-content: center;
    text-decoration: none;
}
main p{
    align-items: center;
    color: gray;
    display: flex;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    text-decoration: none;
}