aside {
    grid-area: aside;
    
}
aside h5{
    align-items: center;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}

aside h6 {
    align-items: center;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    justify-content: center;
}

aside p {
    align-items: center;
    color: gray;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    margin-top: 50px;
}

.italic {
    font-style: italic;
}

aside > div.people img {
    justify-content: center;
    text-align: center;
    image-orientation: from-image;
    margin:0;
}

aside .social-midias p {
    align-items: center;
    margin-top: -40px;
}

aside > div.social-midias > div.midias {
    display: flex;
}

aside > div.social-midias > div.midias > div.icones {
    background-color: #d6d6d6;
    border-radius: 50%;
    color: #ffff;
    cursor: pointer;
    height: 18px;
    margin: 0 5px;
    padding: 8px;
    transition: background-color 1s;
    width: 20px;
    display: flex;
}

body{
    display: grid;
    grid-template-areas: 'nav'
                         'banner'
                         'section'
                         'main'
                         'aside'
                         'footer';
    grid-template-columns: 100vw;       
    margin: 0;              
    grid-template-rows: 1vh 65vh 40vh 50vh 50vh 60px;
    
}

footer {
    background-color: rgb(213, 218, 219);
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

footer div {
    display: flex;
    width: 33%;
    justify-content: space-evenly;
}

footer div a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #9e9e9e;
    font-size: 14px;
}
header{
    background-image: url(../images/banner.png);
    background-size: 100%;
    /* background-size: cover; */
    color: white;
    grid-area: banner;
    margin: 0; 
    display: grid;
    grid-template-areas: 'ladoesquerdo ladodireito';
    grid-template-columns: 50% 50%;

}

header div:nth-child(1){
    align-items: center;
    grid-area: ladoesquerdo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 45%; */
}
header span{
    color: #89c179;

}
.mao{
    display: flex;
    align-items: flex-end;
    grid-area: ladodireito;
    /* grid-template-areas: initial; */
    

}

header div img{
    display: flex;
    width: 260px;

}

header h1{
    /* display: flex; */
    font-family: 'Pacifico', cursive;
    font-size: 25pt;
    font-weight: normal;
    /* justify-content: center; */
    text-decoration: none;
    margin: 0;
    text-align: left;
     
}

header p{
    /* display: flex; */
    /* justify-content: center; */
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    margin-left: 10px;
    /* line-height: 3px; */

    
}
.icones div{
    width: 50vh;
}
.icones div img{
    width: 40px;
    height: 40px;  
}
nav{
    background-color: #099443;
    
}
main{
    background-color: rgb(213, 218, 219);
    
}
section{
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-area: section;
    width: 100%;
    flex-wrap: wrap;

}
section div{
    width: 75%;
}

section img{
        border-radius: 100px;
        background-color: #89c179;
        border-color: #89c179;
        border-style: solid;
        border-bottom-width: 10px;
        border-top-width: 10px;
        border-right-width: 10px;
        border-left-width: 10px;

    }
    section .icones{
        display: flex;
        justify-content: center;
        text-align: center;
        image-orientation: from-image;
        margin-top: 50px;  
        
 }
 section h3{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
 }
section p{
    color: gray;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.ios{
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ios:hover{
    background-color: #89c179;
}

.ios img{
    height: 25px;
    width: 25px;
}

div .android{
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    width: 30px;
    height: 30px;
 
}

.android img{
    height: 30px;
    width: 30px;
}
.windows img{
    height: 30px;
    width: 30px;

}
div .negocios{
    display: flex;
    margin: 0 5px;
}

div.ios{
    display: flex;
    margin: 0 5px;
}

main {
    display: flex;
    grid-area: main;
    justify-content: space-around;
}

main .email {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .email .botao {
    background-color: #2dcb6f;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: -5px;
    color: #fff;
    font-weight: 700;
    border: 0;
    padding: 10px 22px;
}

main .email .input {
    border: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
    width: 155px;
}

main .email .botao:focus {
    outline: 0;
}

main .email .botao:hover {
    background-color: #249d56;
    transition: background-color .5s;
}

main .video {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


main h4{
    align-items: center;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    text-decoration: none;
    text-align: center;
}

main p {
    align-items: center;
    color: gray;
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    text-decoration: none;
    text-align: center;
}

main .div .iframe {
    border-radius: 20px;
    height: 400px;
    width: 100%;
}